
@import url("./reset.css");
@import url("./variables.css");

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem; 
    padding-right: 0.8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 10;
}

.logo {
    width: 7rem;
    height: fit-content; 
    padding-left: 0.4rem;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    width: 10.5rem;
    height: 1.8rem;
}

.material-symbols-outlined a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.desk-navpages {
    display: none;
}

.mobile-navpages {
    border-top: 0.12rem solid var(--bg-color);
    font-family: var(--font-outfit);
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0.03rem 0.03rem black;
    letter-spacing: 0.05em;
    margin-top: 6rem;
}

.mobile-navpages ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1.4rem;
}

.mobile-navpages a {
    text-decoration: none;
    color: var(--color-primary);
}

.mobile-navpages li:nth-child(3) a{
    color: red;
}

.banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: #ffffff;
    text-align: center;
    padding: 0.3rem;
    font-family: var(--font-roboto);
    font-size: 0.65rem;
    font-weight: 300;
    letter-spacing: 0.02em;
}

.herobanner {
    background-image: url("../../images/herobanner/banner-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 110.46%; /* (img-height / img-width * container-width) */
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.35);
    text-align: center;
}

h1, h2 {
    font-family: var(--font-outfit);
    letter-spacing: 0.05em;
}

p {
    font-family: var(--font-roboto);
    letter-spacing: 0.02em;
}

.herobanner h1 {
    color: var(--color-secondary);
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 10.6rem;
    width: 100%;
}

h2 {
    font-size: 0.87rem;
    text-transform: uppercase;
    text-align: center;
}

.herobanner h2 {
    color: var(--color-secondary);
    text-transform: none;
    font-weight: 300;
    vertical-align: center;
    position: absolute;
    top: 14.37rem;
    width: 100%;
}

button {
    border-radius: 0.375rem;
    background-color: var(--btn-color);
    color: var(--color-secondary); 
    font-size: 0.65rem;
    text-transform: uppercase;
    font-family: var(--font-roboto);
    letter-spacing: 0.02em;
    font-weight: 400;
    padding: 0.4rem 1.56rem;
    border: 0.01rem solid var(--logo-color);
    box-shadow: 0 0.1rem #0A3641;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: var(--color-secondary);
}

.herobanner button {
    position: absolute;
    top: 17.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.bestsellers h2 {
    font-weight: 300;
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.product-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}

.product-img-wrapper {
    color: var(--primary-color);
    font-weight: 400;
    text-align: left;
    line-height: 0;
    margin-bottom: 1rem;
}

.product-img-wrapper img {
    max-width: 100%;
    height: auto; 
}

.productname {
    font-size: 0.7rem;
}

.productprice {
    font-size: 0.8rem;
    word-spacing: 1rem;
}

.before-price {
    text-decoration: line-through;
    color: grey;
}

.learn-more {
    background-image: url("../../images/nature_backgrounds/forest.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
}

.learn-more h2 {
    color: var(--color-secondary);
    text-transform: none;
    font-weight: 400;
    vertical-align: center;
    line-height: 0.4rem;
}

.learn-more p {
    color: var(--color-secondary);
    font-weight: 400;
    text-align: center;
    font-size: 0.6rem;
    margin-top: 2rem;
}

.learn-more button {
    position: absolute;
    bottom: 0.62rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winter-collection h2 {
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.winter-info p {
    color: var(--primary-color);
    font-size: 0.7rem;
    font-weight: 400;
    text-align: center;
    line-height: 0;
    margin-bottom: 0.8rem;
}

.winterimg-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.winterimg-container img {
    max-width: 100%;
    height: auto;
}

.winterimg-container p { 
    position: absolute;
    top: 15%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    text-align: center; 
    font-size: 1.25rem; 
    font-family: var(--font-outfit);
    color: var(--color-primary);
    letter-spacing: 0.05em;
    font-weight: 500;
    text-transform: uppercase;
    word-wrap: break-word;
}

footer {
    background-color: var(--bg-color);
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.footer-nav {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
  
.footer-nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}
  
.footer-nav a {
    font-family: var(--font-roboto);
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-secondary);
    text-align: center;
    padding-right: 2.2rem;
}
  
.image {
    filter: invert(100%);
    width: 5rem;
    height: fit-content; 
    padding-bottom: 1rem;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}

.info-part .info-desk {
    display: none;
}

.info-part h2 {
    font-weight: 300;
    margin: 0;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.info-part a {
    text-decoration: none;
    color: var(--color-primary);
}


.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 0;
    margin-bottom: 3rem;
}

.rainjacket-img {
    background-image: url("../../images/webshop_info_images/rainjackets.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 9.3rem;
    width: 14rem;
    border-radius: 0.8rem;
}

.shop-text {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
}

.softjacket-img {
    background-image: url("../../images/webshop_info_images/softshell.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 9rem;
    width: 14rem;
    border-radius: 0.8rem;
}

.discount {
    color: red;
}

.form-container {
    background-color: #ffffff; 
    font-family: var(--font-roboto);
    font-size: 0.7rem;
    color: var(--color-primary);
}
  
.form-header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.delivery-options, .personal-info, .payment-options, .form-inputs {
    padding: 20px;
    margin-right: 0.5rem;
}
  
input[type="radio"] {
    margin-right: 5px;
}
  
.price {
    float: right;
}
  
input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #888888;
    background-color: #f0f0f0; 
    margin-bottom: 10px;
    font-family: var(--font-roboto);
    font-size: 0.7rem;
    color: var(--color-primary);
}

input[type="text"]:focus {
    outline-color: var(--logo-color);
}
  
.full-width {
    width: 100%;
    margin-bottom: 10px;
}
  
input[type="text"]:hover, input[type="radio"]:hover {
    cursor: text;
}
  
input[type="text"]:active, input[type="radio"]:active {
    cursor: text;
}
  
input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}
  
input[type="radio"]:checked {
    background-color: #000000;
}

.chosen-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 260px;
}
  
.chosen-container img {
    width: 10.3rem;
    height: 10.4rem;
}

.chosen-container .text {
    padding-left: 10px;
}

.chosen-container .text p {
    margin: 0; 
    padding: 10px;
    padding-bottom: 1rem;
}

.productname-header {
    font-size: 0.87rem;
}

.product-color-size {
    font-size: 0.6rem;
    color: #8A8A8A;
    line-height: 0;
}

.stock {
    font-size: 0.6rem;
    color: #078A70;
}

.price {
    font-size: 0.87rem;
    font-weight: 400;
}

.header-checkout h2 {
    text-align: left;
    margin-left: 1rem;
    font-weight: 300;
}

.summary-ship, .summary-total {
    margin: 2rem;
    font-family: var(--font-roboto);
    font-size: 0.7rem;
    color: var(--color-primary);
}

.price-ship, .price-total {
    float: right;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.checkout-text h2 {
    display: flex;
    justify-content: left;
    margin-left: 2rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.checkout-text {
    margin-bottom: 2rem;
}

.product-info-section {
    margin-left: 3rem;
    margin-right: 3rem;
}

.productpage-text {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 3rem;
    line-height: 0;
    color: var(--color-primary);
    font-weight: 400;
}

.productpage-text h2 {
    text-align: left;
}

.color-price {
    margin-bottom: 1rem;
}

.color-price, .productpage {
    font-family: var(--font-roboto);
    font-size: 0.7rem;
    color: var(--color-primary);
    font-weight: 400;
    line-height: 1rem;
}

.price-rainjacket {
    float: right;
    font-size: 1rem;
}

.product-img-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    margin-left: 3rem;
    margin-right: 3rem; 
}

.product-img-container2 img {
    max-width: 100%;
    height: auto; 
}

.productpage {
    margin-bottom: 1rem;
}

.on-the-way {
    display: block;
    text-align: center;
    font-family: var(--font-roboto);
    font-size: 0.7rem;
    color: var(--color-primary);
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.logo-mountain {
    display: flex;
    justify-content: center;
}

.logo-mountain img {
    max-width: 25%;
    height: auto;
}

.about-us-info {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.about-bg-image {
    background-image: url("../../images/nature_backgrounds/trees_rain.jpg");
    background-size: cover;
    padding-bottom: 5rem;
    padding-top: 5rem;
    border-top: 0.12rem solid var(--bg-color);
    border-bottom: 0.12rem solid var(--bg-color); 
}

.about-us-text {
    margin-left: 3rem;
    margin-right: 3rem;
}

.about-bold {
    font-weight: 500;
}

.about-text1, .about-text2 {
    margin-bottom: 3rem;
}

.about-readmore {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.about-us-info, .about-us-text, .about-readmore {
    font-size: 0.7rem;
}

.contact-text {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    max-width: 37.5rem;
    margin: 1.25rem auto;
    padding: 1.25;
    border: 0.06rem solid #ccc;
    background-color: #f9f9f9;
    margin-left: 3rem;
    margin-right: 3rem;
}

input[type="contactform-text"] {
    width: calc(100% - 0.75rem);
    padding: 0.3rem;
    margin-bottom: 10px;
    border: 0.06rem solid #ccc;
    font-family: var(--font-roboto);
    font-size: 0.8rem;
}

textarea {
    width: calc(100% - 0.75rem);
    padding: 0.3rem;
    margin-bottom: 0.6rem;
    border: 0.06rem solid #ccc;
    font-family: var(--font-roboto);
    font-size: 0.8rem;
}

.contactinfo {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 0.5rem;
    margin-bottom: 3rem;
}

.contact-bold {
    font-weight: 500;
}

.contact-text, .contactinfo {
    font-size: 0.7rem;
}

 @media screen and (min-width: 992px) {

    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
        padding-left: 3rem; 
        padding-right: 3rem;
    }

    .desk-navpages {
        display: flex;
        font-family: var(--font-outfit);
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-shadow: 0.03rem 0.03rem black; 
    }

    .desk-navpages ul {
        display: flex;
        list-style-type: none;
    }

    .desk-navpages a {
        text-decoration: none;
        color: var(--color-primary);
        padding: 1.6rem;
        transition: color 0.3s;
    }
    
    .desk-navpages li:nth-child(3) a {
        color: red;
    }

    .material-symbols-outlined a {
        transition: color 0.3s;
        font-size: 1.3rem;
    }

    .desk-navpages a:hover {
        color: var(--btn-color);
    }

    .desk-navpages li:nth-child(3) a:hover {
        color: var(--btn-color);
    }

    .material-symbols-outlined a:hover {
        color: var(--btn-color);
    }

    .mobile-navpages {
        display: none;
    }

    .banner-text {
        margin-top: 4.5rem;
    }

    .herobanner {
        background-image: url("../../images/herobanner/banner-desktop.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 49.09%; 
        position: relative;
    }

    .herobanner h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .herobanner h2 {
        top: 300px;
    }

    .herobanner button {
        top: 26rem;
    }

    button {
        font-size: 1.1rem;
        padding: 0.5rem 2.3rem;
        border-radius: 0.6rem;
        box-shadow: 0 0.2rem #0A3641;
    }

    .bestsellers {
        margin-top: 2rem;
    }

    .product-img-container {
        flex-direction: row;
        align-items: center;
        margin-bottom: 3rem;
        flex-wrap: wrap;
    }

    .product-img-wrapper {
        flex-basis: calc(33.33% - 1rem);
        padding: 0.5rem;
    }

    .learn-more {
        background-image: url("../../images/nature_backgrounds/forest-desk.jpg");
        padding-bottom: 8rem;
        margin-bottom: 5rem;
    }

    .learn-more button {
        bottom: 4rem;
    }

    .learn-more h2 {
        margin-bottom: 1.8rem;
    }

    .learn-more p {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 4rem;
    }

    .winter-info {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .winter-info p {
        margin: 0.1rem;
    }

    .winterimg-container {
        height: 32rem;
    }

    .winterimg-container img {
        height: 100%;
    }

    .winterimg-container p {
        font-size: 2.5rem;
        letter-spacing: 0.08em;
        font-weight: 400;
        top: 45%;
    }

    .footer-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .footer-nav a {
        text-transform: none;
        font-size: 1rem;
        font-weight: 400;
    }

    .image {
        width: 10rem;
    }
    

    .info-part .info-desk {
        display: block;
        color: #4A4A4A;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }
        
    .shop-container {
        flex-direction: row-reverse; 
        margin: 0;
        margin-top: 2rem;
        padding-bottom: 3rem;
        border-bottom: 0.12rem solid var(--bg-color);
        padding-right: 10rem;
        padding-left: 10rem;
        margin-bottom: 5rem;
    }

    .shop-text {
        flex: 1; 
        padding-right: 5rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .product-img-container2 {
        flex-direction: row;
    }

    .product-img-container2 img {
        width: 30%;
        margin-left: 8rem;
        margin-right: 2rem;
    }

    .product-info-section {
        margin-left: 11rem;
    }

    .product-info-section .productpage {
        margin-left: 0;
    }

    .color-price, .productpage {
        margin-right: 11rem;
        font-size: 1rem;
    }

    .price-rainjacket {
        font-size: 1.5rem;
    }

    .productpage {
        margin-left: 2rem;
    }

    .color-rainjacket {
        color: grey;
    }

    .btn-prod-align .btn {
        justify-content: right;
        margin-right: 12rem;
    }


    .productname-header {
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    .product-color-size {
        font-size: 1.1rem;
    }
    
    .stock {
        font-size: 1.1rem;
    }
    
    .price {
        font-size: 1rem;
    }

    .btn-check-align .btn {
        justify-content: left;
    }

    .checkout-text h2 {
        margin-left: 0; 
        font-size: 1.75rem;
    }

    .header-checkout, .chosen-container, .summary-ship, .summary-total, .btn-check-align, .checkout-text, .form-container {
        margin-right: 10rem;
        margin-left: 10rem;
    }

    .price-ship, .price-total {
        margin-right: 1rem;
    }

    .summary-ship, .summary-total {
        font-size: 1rem;
    }

    .form-header {
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
    }

    .logo-mountain img {
        max-width: 15%;
        height: auto;
    }

    .about-us-info {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .about-us-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .about-text1 {
        margin-right: 10rem;
    }

    .about-text2 {
        margin-left: 10rem;
    }

    .about-readmore {
        text-align: center;
        margin-bottom: 2rem;
    }

    .about-us-info, .about-us-text, .about-readmore {
        font-size: 1rem;
    }

    .contact-text, .contactinfo {
        font-size: 1rem;
    }
 }